body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 2116px 995px;
}

*{
    font-family: 'Acme', sans-serif;
    font-size: 24px;
}

.addPatients{
    display: flex;
    width:1400px;
    position: relative;
    margin: 1% auto;
}
.Info{
    margin-top: 20px;
    height: 800px;
    width: 700px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 20px;
    border: teal solid 7px;
}
img{
    margin-left: 100px;
}

.form-box{
    margin-top: 20px;
    height: 800px;
    width: 700px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 20px;
    border-right: teal solid 7px;
    border-top: teal solid 7px;
    border-bottom: teal solid 7px;
}

input{
    border: none;
    background-color: whitesmoke;
    outline: none;
}